.form-control{
  	width: 90%;
  	float: left;
  	border-radius: 0;
}


.chat-icon{
  	background: #55c1e7;
  	color: #fff;
  	padding: 20px 25px;
  	border-radius: 50%;
  	float: left;
  	margin-right: 10px;
}

.title{
  	padding: 15px;
  	background: #dff0d8;
}

.chat-username {
	color: #31708f;
	font-weight: bold;
	font-size: 18px;
	margin: 0;
}

.datetime-wrap{
  	text-align: right;
  	font-size: 15px;
}

.input-group-c{
  	display: block;
  	float: left;
  	width: 10%;
}

.input-group-text {
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #fff;
  background: #f0ad4e;
  border-radius: 0;
}

.wrap-chat{
  margin-top: 100px;
}

.app-chat{
  border: 1px solid #ccc;
  margin: auto;
  max-width: 700px;
}

.wrap-content {
  padding-top: 15px;
  border-bottom: 1px dashed #ccc;
}

input[type='submit'] {
  background: inherit;
  border: none;
  color: #fff;
}

.form-control:focus {
	box-shadow: none;
}


.content-c {
	padding-bottom: 10px; 
}